@import "tailwindcss";

@theme {
    --color-text1: #333d4d; /*#364153;*/
    --color-accent1: #e68584;
    --color-accent2: #ffeebf;
    --color-accent3: #60aefd;
    --color-bkg1: #efe6d0; /*#ede5d3; #eee3c8; */
    --color-bkg2: #fff8e8; /*#fffaed;*/
    --color-bkg3: #faf0d8; /*#f4eddd; */
}

/* Base Styles */
body {
    @apply text-text1 bg-bkg3;
}

h1,
h2 {
    @apply font-bold text-text1 text-lg;
}

main {
    @apply max-w-5xl my-12 mx-auto px-8;
}

main > h2 {
    @apply my-3 text-base;
}

p > a {
    @apply text-accent1 underline;
}

/* Nav Styles */
.nav-wrapper {
    @apply flex
		justify-center
		items-center
		bg-accent1
		pt-10;
}

nav {
    @apply flex 
		items-center 
		gap-5;
}

nav a {
    @apply text-accent2 
		font-bold 
		px-3 
		pt-1
		cursor-pointer
		pb-3
		text-center
		w-[80px]
		box-content;
}

nav a:is(:hover, :focus-visible),
nav a.active:is(:hover, :focus-visible) {
    @apply text-text1;
}

nav a.active {
    @apply text-accent1 
		bg-bkg3
		rounded-t-md;
}

.nav-logo {
    @apply absolute
		left-0
		ml-4
		mb-4
		px-2
		py-1
		font-bold
		text-xl
		rounded-md
		flex
		items-center
		gap-2
		cursor-pointer
		bg-accent2
		text-accent1
		shadow-sm;
}

/* Button Styles */
button {
    @apply px-3 
		py-2
		rounded-md
		flex
		justify-between
		items-center
		gap-2
		text-sm
		cursor-pointer
		border-1
		border-transparent
		shadow-sm;
}

button:is(:hover, :focus-visible) {
    @apply bg-bkg2/90 border-1 border-text1 text-text1;
}

.btn-primary {
    @apply bg-accent1 text-bkg2;
}

.btn-secondary {
    @apply bg-accent3 text-bkg2;
}

/* Form Styles */
form {
    @apply py-4
		px-7
		bg-accent2/5
		rounded-md
		block
		mx-auto
		min-w-fit
		w-1/4;
}

form label {
    @apply block;
}

form input,
form textarea,
form select {
    @apply block
		mt-2
		my-4
		px-2
		py-1
		rounded-md
		w-full;
}

form button {
    @apply block mx-auto;
}

/* Feedback Styles */
.error {
    @apply border-2
		border-red-500
		bg-red-300
		text-red-800
		py-1
		px-2
		rounded-md
		block
		max-w-fit
		my-4
		mx-auto;
}

/* Card Styles */
.cardback {
    @apply bg-bkg1
		inset-shadow-sm
		rounded-md
		py-3
		px-4
		relative
		overflow-hidden;
}

.card {
    @apply bg-bkg2
		shadow-sm
		rounded-md
		py-4
		px-4
		my-4
		relative
		overflow-hidden;
}

.card h3 {
    @apply font-bold
		text-text1
		text-sm
		mb-0;
}

.card p {
    @apply my-4 text-sm text-text1 leading-6;
}

/* Pill Styles */
.pill {
    @apply py-1
		px-2
		mt-3
		inline-block
		text-xs
		font-semibold;
}

.pill.high {
    @apply bg-red-300 text-red-600;
}

.pill.medium {
    @apply bg-blue-300 text-blue-600;
}

.pill.low {
    @apply bg-emerald-300 text-emerald-600;
}

.card .pill {
    @apply absolute
		bottom-0
		right-0
		rounded-tl-md;
}
